# Supabase credentials — get from https://supabase.com/dashboard
NEXT_PUBLIC_SUPABASE_URL=https://prxylprgzkzjywwcfhji.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InByeHlscHJnemt6anl3d2NmaGppIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzExMDA3ODYsImV4cCI6MjA4NjY3Njc4Nn0.Upwow1HSiV_IramG9KMSx8_mXaEBcWBoMytMZ9Eq1N8
